/* RESET CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* FUENTES */
@font-face{
    font-family: "sansCondensed";
    src: url("../assets/fonts/EncodeSansCondensed-Bold.ttf");
}
@font-face{
    font-family: "amble" ;
    src: url("../assets/fonts/Amble-Regular.ttf");
}
/* CLASES DEL HEader*/
.cajaHeader{
    display: flex;
}
.rowHeader{
display: flex;
flex-direction: row;
}
.logo{
    height: 55px;
    width: 55px;
    margin-left: 10px;
    margin-right:10px;
}
.claseHeader{
    display: flex;
}
.tituloIndex{
    color: blue;
}
/* CLASES DEL NAV */
.nav{
    justify-content: space-evenly;
}
main{
    display: flex;
}
.sectionPrincipal{
    margin-left: auto;
}
/* CLASES DEL MAIN index */
.rowPrincipal{
    display: flex;
    justify-content: center;
}
.tituloMain{
    font-family: "sansCondensed";
}
.parrafoMain{
    font-family:"amble" ;
}


/* SECTION 1 CLASES index */
.section1{
    display: flex;
    justify-content: center;
}
.cartaNoticia{
    max-width: 1268.66px;
}
.rowSection1{
    display: flex;
    justify-content: center;
    width: 1288px;
}

/* SECCION AGENDA index */
.containerAgenda{
    display: flex;
    flex-direction:column ;
    justify-content: center;    
    max-width: 1288px ; 
}
.tituloAgenda{
    display: flex;
    justify-content: center;
    font-family: "sansCondensed" ;
}
.cartasAgendaPadre{
    display: flex;
}
.cartasAgenda{
    display: flex;
    justify-content: center;
}
.fechasAgenda{
    font-family: "amble";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
}
.containerFooter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.iconosFooter{
    width: 25px;
    height: 25px;
}
.rowFooter{
    width: 100%;
}
/* PAGE GALERIA */
/* SECTION GALERIA */
#galeria img{
    width: 100%;
    height: 250px;
}
#galeria .col-lg-4{
    padding: 25px;
    margin: 0 !important;
}
#galeria img:hover{
    border: 5px solid #f7f7f7;
}
/* HISTORIA (TENGO QUE APLICAR RESPONSIVE, NO LLEGUE CON EL TIEMPO */
.historiaciclonpadre{
    background-color: red;
    display: flex;
    justify-content: center;
    margin: top 50px; ;
 }
  .historiaciclon{
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    display: flex;
    border-style: ridge;
    border-color: #2f00ff;
    flex-direction: column;
  
   
  }
  .tituloHistoria{
    position: relative;
    
    float: left;
    display: flex;
    
  }
  #fundacionParrafo{
    
    font-size: 20px;
    justify-content: flex-start;
  }
  .fundacion{
    width: 524px;
    height: 400px;
  }
  .h1historia{
    justify-content: right;
  }
  .bloqueDos{
    display: flex;
  }
  
  .parrafoNombre{
    
    font-size: 20px;
  }
  .imagenBloqueCuatro{
    width: 400px;
    height: 400px;
  }
  .losMatadoresTitulo{
   
    position: relative;
  }
  .bloqueCuatro{
    display: flex;
    flex-direction: column;
    
  }
  .bloqueCuatroDesarrollo{
    display: flex;
  }
  .primerparrafomatadores{
    justify-content: flex-start;
    display: flex;
    
    font-size: 20px;
  }
  .parrafoMatadoresDiv{
    flex-direction: column;
    height: 40%;
  }
  .losMatadoresDiv{
    display: flex;
  }
  .gallegoinsua{
    height: 400px;
    width: 400px;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    
  }
 
  .parrafoSudamericana{
      position: relative;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      justify-content: flex-start;
      font-size: 20px;
  }
  .copaSudamericana{
    display: flex;
    flex-direction: column;
  }
  .sudamericanaDesarrollo{
    display: flex;
    justify-content: flex-start;
  }
  .parrafoSudamericanaDiv{
    left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      position: relative;
      height: auto;
      width: 583px;
  }
  /*  CONTACTO */
  .rowContacto{
    display: flex;
    justify-content: center;
    max-width: 1288px;
  }
  form{
    display: flex;
    justify-content: center;
  }
  #contactoContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footerContacto{
    margin-top: auto;
  }